/********************************************************************
* my custom css for Geo-spatial visualization of earthquake data project
* @author:          Daniel and Proscovia
* @Institution:     Gulu University (www.gu.ac.ug)
*
**********************************************************************/
#map {
    width: 100%;
    height: 610px;
    position:relative;
}
#page-wrapper {
    background: #B3D1FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#B3D1FF, #B2D0FC); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#B3D1FF, #B2D0FC); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#B3D1FF, #B2D0FC); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#B3D1FF, #B2D0FC); /* Standard syntax */
    padding: 0px;
}

.side-nav {
    
}
#overlaying {
    z-index: 999;
    padding: 5px;
    text-align: center;
    position: absolute;
    left: 330px;
    top: 55px;
}

select#name {
  
  background-color: #fff;
  background-repeat: no-repeat;
  border-color: #b3cccc;
  border-radius: .3em;
  border-style: solid;
  border-width: 1px;
  color: black;
  padding: .43em .8em;
  width: 100%;
}

select#name::-ms-expand {
  display: none;
}

#legend {
    z-index: 999;
    padding: 8px;
    position: absolute;
    left: 1050px;
    top: 495px;
    background-color: #fff;
    background-repeat: no-repeat;
    border-color: #b3cccc;
    border-radius: .3em;
    border-style: solid;
    border-width: 1px;
    color: white;
    font-weight: bold;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.4);
}

#legend:hover {
    cursor:move;
}
#advancedsearch {
    z-index: 999;
    padding: 8px;
    position: absolute;
    left: 700px;
    top: 50px;
    
}

#frm_advancedsearch {
    width: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    color: black;
    font-weight: normal;
}


#frm_advancedsearch input#bymg {
    margin-left: 12px;
}
#frm_advancedsearch input#bydepth {
    margin-left: 9px;
}
#frm_advancedsearch input#submit_filter {
    margin-left: 435px;
    margin-top: 10px;
}
#frm_advancedsearch .btn-cancel {
    margin-left: 355px;
    margin-top: -53px;
}